// --------------------- //
// BASIC LAYOUT SETTINGS //
// --------------------- //
*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -$footer-height; // Set footer height from _variables.scss file
  &:after {
    content:'';
    display: block;
  }
}

footer, .page-wrap:after {
  height: $footer-height; // Set footer height from _variables.scss file
}
