// --------------------- //
// BASIC LAYOUT SETTINGS //
// --------------------- //
*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

html {
	font-size: 16px;
	overflow-y: scroll;
  text-size-adjust: 100%;
}

body.no-scroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
}



// ------- //
// SIDEBAR //
// ------- //
.sidebar {
  position: fixed;
  float: left;
  padding-top: 170px;
  min-width: $sidebar-width - 100px;
  width: 20%;
  height: 100%;
  background-color: $sidebar;
}

.logo {
  @include position(absolute, 30px null null 50%);
  transform: translate(-50%, 0);
}

.news-sources {
  li {
    margin-bottom: 5px;
    list-style: none;
  }
  &__item {
    position: relative;
    display: block;
    padding-left: 50px;
    color: $news-sources-item-color;
    font-size: 15px;
    text-decoration: none;
    &:before {
      content: "";
      @include position(absolute, null null null -5px);
      @include size(100%);
      border-left: 5px solid $news-sources-item-active-border;
      transition: all $fast-transition;
    }
    &:hover, &--active {
      font-weight: 500;
      color: $news-sources-item-active-color;
      &:before {
        left: 0;
      }
    }
  }
}


// ------- //
// CONTENT //
// ------- //
.content {
  position: relative;
  float: left;
  margin-left: 20%;
  padding: 50px 25px;
  @include size(80% 100%);
  h1 {
    margin: 0 0 25px 25px;
  }
}

.news-list {
  list-style: none;
  &__item {
    display: block;
    position: relative;
    padding: 18px 25px;
    text-decoration: none;
    border: 1px solid transparent;
    &:after {
      content: "";
      @include position(absolute, -1px null null 25px);
      width: calc(100% - 50px);
      border-bottom: 1px solid $news-list-item-border;
    }
    &:hover {
      border-color: $news-list-item-border;
      &:after {
        display: none;
      }
    }
    &:active {
      transform: scale(.980)
    }
  }
  li {
    &:first-child {
      .news-list__item:after {
        display: none;
      }
    }
    &:last-child {
      .news-list__item:before {
        content: "";
        @include position(absolute, null null -1px 25px);
        width: calc(100% - 50px);
        border-bottom: 1px solid $news-list-item-border;
      }
    }
  }
  li:hover + li .news-list__item:after {
    display: none;
  }
  &__title {
    color: $news-list-item-color;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
  }
  &__meta {
    display: block;
    margin-top: -5px;
    color: $news-list-meta-color;
    font-size: 13px;
    text-decoration: none;
  }
}



// ---- //
// PANE //
// ---- //
.pane {
  display: none;
  &__overlay {
    @include position(fixed, 0 0 null null);
    z-index: 1;
    @include size(100%);
    background-color: rgba(33,31,31, .60);
  }
  &__inner {
    @include position(fixed, 0 0 null null);
    overflow-y: auto;
    z-index: 2;
    padding: 66px 50px 127px;
    @include size(70% 100%);
    max-width: 800px;
    background-color: $w;
  }
  &__content {
    img {
      margin-bottom: 25px;
      border-radius: 3px;
    }
  }
  &__close {
    @include position(absolute, 25px 25px null null);
    z-index: 2;
    line-height: 0;
    color: $pane-close-icon;
    &:hover {
      color: darken($pane-close-icon, 15%);
    }
    i {
      font-size: 32px;
    }
  }
  &__title {
    a {
      color: $h1-color;
      &:hover {
        color: darken($h1-color, 15%);
      }
    }
  }
  &__meta {
    @extend .news-list__meta;
    margin: 0 0 25px;
    a {
      color: $news-list-meta-color;
      text-decoration: none;
      &:hover {
        color: darken($news-list-meta-color, 15%);
        text-decoration: underline;
      }
    }
  }
  &__actions {
    @include position(fixed, null 0 0 null);
    padding: 10px 50px;
    @include size(100% 61px);
    width: inherit;
    max-width: inherit;
    background-color: $pane-actions-bg;
    border-top: 1px solid $pane-actions-border;
  }
  &__go-to-source {
    float: left;
    i {
      @include position(relative, -2px null null null);
      font-size: 20px;
    }
  }
  &__share {
    float: right;
    list-style: none;
    li {
      float: left;
    }
  }
  .btn-secondary {
    padding: 0 10px;
  }
  &__share-on-twitter {
    border-radius: 3px 0 0 3px !important;
    i {
      @include position(relative, -2px null null null);
      font-size: 24px;
    }
  }
  &__share-on-facebook {
    border-width: 1px 0 !important;
    border-radius: 0 !important;
    i {
      @include position(relative, -2px null null null);
      font-size: 22px;
    }
  }
  &__share-on-email {
    border-radius: 0 3px 3px 0 !important;
    i {
      @include position(relative, -2px null null null);
      font-size: 20px;
    }
  }
}
