// -------------- //
// BASIC SETTINGS //
// -------------- //
html {
	height: 100%;
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0 auto;
	min-height: 100%;
}

body, button, input, select, textarea {
	font: 1em/1.625 $roboto;
	color: $default-text;
}


// ::selection {
//     background: #b3d4fc;
//     text-shadow: none;
// }


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
