// ------------- //
// COMMON COLORS //
// ------------- //
$w: #fff;



// ----------------- //
// BACKGROUND COLORS //
// ----------------- //




// ----------- //
// TEXT COLORS //
// ----------- //
$default-text-color: #333;
$default-link-color: #4990e2;
$h1-color: #111;
$h2-color: #111;
$h3-color: #111;
$h4-color: #111;



// ----------- //
// ICON COLORS //
// ----------- //



// ------------- //
// BORDER COLORS //
// ------------- //



// ----- //
// SIZES //
// ----- //
$sidebar-width: 270px;
$footer-height: 50px;



// ----------- //
// FONT STACKS //
// ----------- //
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$default-font-stack: $sans-serif;
$monospaced: "SF Mono", Menlo, Consolas, "DejaVu Sans Mono", Monaco, "Courier New", Courier, monospace;



// ------------------ //
// TRANSITION TIMINGS //
// ------------------ //
$slow-transition: .3s ease-in-out;
$normal-transition: .2s ease-in-out;
$fast-transition: .1s ease-in-out;
